/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

html, body {
	height: 100%;
}

.app {
	height: 100%;
}

.vertical-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}

.title {
	font-weight: 200;
	font-size: 1.3em;
}

/*.app a, .app div, .app p, .app h1, .app h2, .app h3 {
	color: #fff;
}

.modal a, .modal div, .modal p, .modal h3 {
	color: #000;
}

input {
	background-color: #fff;
}

.btn-primary {
	border-color: transparent;
}
*/
